{:deps {dev.dbos/transact {:mvn/version "1.0.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}}
 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
          com.kepler16/kaven {:mvn/version "1.0.0-alpha.1"}}
   :ns-default build
   :extra-paths ["build"]}
  :dev
  {:extra-paths ["dev" "test"]}
  :test
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}
    ;; deps of the example/ consumer the integration tests boot
    integrant/integrant {:mvn/version "1.0.1"}
    com.taoensso/telemere {:mvn/version "1.2.0"}}
   :main-opts ["-m" "kaocha.runner"]
   :extra-paths ["test" "example/src" "example/resources"]}}}
